.body {
	background-color: white;
	background-image: url("../images/background.png");
	background-repeat: repeat-x;
	overflow-y: scroll;
}

.page {
	margin: auto;
	width: 75%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

.spacer {
   padding: 2% 2%;
}

.underline {
	text-decoration: underline;
}

ul {
	text-align: left;
	display: inline-block;
}

.home {
	text-decoration: none;
}

.banner {
	margin: auto;
	top: 0;
}

h1.banner {
	padding: 2%;
	font-size: 5em;
	color: white;
}

h3.banner {
	color: #0F4D92;
	margin: -1.5% 0 0;
	font-size: 1.5em;
}

span.color {
	color: blue;
}

.navigation {
	margin: auto;
	width: 50%;
	display: inline-block;
	font-size: 1.35em;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

.navigation li {
	display: inline;
	padding: 0 6%;
}

.navigation a {
	margin: auto;
	padding: 0;
	text-decoration: none;
	color: #0F4D92;
}

.navigation a:hover {
	border-bottom: 6px solid blue;
}

.current {
	color: #0F4D92;
	border-bottom: 6px solid #0F4D92;
}

.introduction {
	font-size: 1.07em;
}

.languages {
	font-size: 0.95em;
}

.calendar {
	position:relative;
}

.calendar caption {
	text-align: center;
}

.calendar th {
	background-color:lavender;
	border-top: 1px solid purple;
	border-bottom: 1px solid purple;
}

.sample {
	margin: 0 40%;
}

.projects {
	text-align: left;
}

.copyright {
	padding: 0.75%;
	text-align: right;
	font-size: 0.75em;
}