.body {
	background-color: #002E63;
}

.page {
	margin: 5% auto auto;
	width: 90%;
	border: 1px solid black;
	text-align: center;
	background-color: white;
	background-image: url("../images/background.png");
	background-repeat: repeat-x;
}

.spacer {
   padding: 2% 2%;
}

a {
	font-size: 1em;
}

ul {
	text-align: left;
	display: inline-block;
}

.banner {
	margin: auto;
	padding: 1% 0;
	width: 100%;
	top: 0;
}

.home {
	text-decoration: none;
}

h1.banner {
	text-align: right;
	color: white;
}

.banner span.color {
	color: blue;
}

.navigation {
	width: 50%;
	height: auto;
	border: 1px solid;
	display: inline-block;
}

.navigation a {
	margin: 3%;
}

.calendar {
	position:relative;
}

.calendar caption {
	text-align: center;
}

.calendar th {
	background-color:lavender;
	border-top: 1px solid purple;
	border-bottom: 1px solid purple;
}

.sample {
	margin: 0 40%;
}

.copyright {
	padding: 0.75%;
	text-align: left;
	font-size: 0.75em;
}